@page "/school/baby/colors"

@using Client.Components

<div id="body">
    <BackLink Link="/school/baby" PageName="baby courses" />

    <h1>Colors</h1>
    <div>
        <span>
            Welcome to our course on colors!
        </span>
    </div>
</div>
