@page "/school/baby"

@using Client.Components
@using Client.Models.School

<div id="body">
    <BackLink Link="/" PageName="home" />
    <h2>Courses</h2>
    <div>
        <ul>
            @foreach (var course in Curriculum.Courses)
            {
                <li>
                    <h3>
                        <a href="@($"/school/{Curriculum.Id}/{course.Id}")">
                            @course.Name
                        </a>
                    </h3>
                </li>
            }
        </ul>
    </div>

    <h2>Blogs</h2>
    <div>
        <span>Check out our <a href="@($"/school/{Curriculum.Id}/blogs")">baby blogs</a>!</span>
    </div>
</div>
