@page "/school/baby/shapes"

@using Client.Components

<div id="body">
    <BackLink Link="/school/baby" PageName="baby courses" />

    <h1>Shapes</h1>
    <div>
        <span>
            Welcome to our course on shapes!
        </span>
    </div>
</div>
