@page "/"

<h1>Welcome to our home school!</h1>

<div>
    <p>
        Check out our <a href="/school">curricula</a> and start learning!
        <br><br/>
        Or feel free to read our <a href="/blogs">blogs</a>!
    </p>
</div>
