@page "/"

<h1>ExoKomodo Edu</h1>

<div>
@if (IsLoading)
{
    <span>Page is still loading</span>
}
else
{
    <div>
        <h2>Welcome to your informal Computer Science education!</h2>
        <br/><br/>
        <p>
            ExoKomodo Edu is intended to be a completely <strong>FREE</strong> to use <i>school</i> to teach Computer Science to any who are willing and able.
            <br/><br/>
            Some of the courses will have a companion textbook that could be beneficial to have, but the courses themselves will never require the textbooks or rely on them.
            <br/><br/>
            To get started, click on the <a href="/courses">Courses</a> tab and start learning!
        </p>
    </div>
}
</div>
