@page "/school/baby/blogs"

@using Client.Components

<div id="body">
    <BackLink Link="/school/baby" PageName="baby school home" />
    <h1>Baby Blogs</h1>
    <div>
        @if (IsLoading)
        {
            <span>Loading...</span>
        }
        else
        {
            @foreach (var blogPair in _blogs)
            {
                <div>
                    <h2>@blogPair.Key</h2>
                    <ul>
                        @foreach (var blog in blogPair.Value)
                        {
                            <li>
                                <h3>
                                    <a href="@($"/school/baby/blogs/{blogPair.Key}/{blog.Id}")">
                                        @blog.Title
                                    </a>
                                </h3>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>